@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="samples">
</div>

@section scripts
{
    <script src="~/js/signalr.js"></script>
    <script>
    const playSample = async (e) => {
        console.log('OnSamplePlayed: ' + e.dataset.channel);
        connection.invoke('play', e.dataset.channel);
    }

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/SamplR")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.on('SamplesLoaded', (samples) => {
        for(i=0; i<samples.length; i++)
        {
            var template = document.createElement('template');
            var html = '<button id="playerButton" class="btn btn-success btnPlay" data-channel="' + samples[i].channel + '" onclick="playSample(this);">' + samples[i].name + '</button>';
            template.innerHTML = html;
            var elm = template.content.firstChild;
            document.getElementById('samples').appendChild(elm);
        }
    });
    
    const start = () => {
        connection.start()
            .then(() => {
                console.log('connected');
                connection.invoke('GetSamples');
            })
            .catch(err => {
                console.error(err.toString());
                setTimeout(function () {
                    start();
                }, 5000);
            });
    };

    connection.onclose(function () {
        start();
    });

    start();
    </script>
}